.gamepage__hero {
    aspect-ratio: 16 / 9;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0%;
}

header a {
    font-size: 3rem;
    font-weight: 700;
}

header a:hover {
    color: rgb(46, 46, 46)
}